/* src/index.css */
:root {
  --bg-dark: #071022;
  --card-bg: rgba(14, 24, 40, 0.7);
}

body {
  background: #f5f9fc;
  color: #071022;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  scroll-margin-top: 88px;
}
